<%= link_to "Game", plays_game_path %><br>

<h2 id= 'home-heading'>Upload Image files </h2>

<% if @images.errors.any? %>
  <ul>  
    <% @images.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @images, url: { controller: 'plays', action: 'store_images'} do |f| %>
  <fieldset>
    <legend>Upload images</legend>
    <label>Select Image</label><br />
    <%= f.file_field  :images, multiple: true, id: 'file-field' %><br /><br />
    <%= f.submit 'Upload', id: 'upload-button' %>
  </fieldset>
<% end %>